@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@500&display=swap');

body {
    font-family: 'SUSE', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #064789;
    height: 90px;
    color: #EBF2FA;    
    display: flex;
}
header h1 {
    font-size: 22px;
    padding: 20px 0px 0px 30px;
    flex: 20;
}
nav {
    flex: 80;
    text-align: right;
}
nav li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px 0px 0px;
}
nav a {
    color: #EBF2FA;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    
}
nav a:hover {
    background-color: #427AA1;
    text-decoration: none;
    color:#EBF2FA;
}

hero {
    background-color: #427AA1;
    height: 270px; 
    display: flex;  
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

hero img {
    width: 120px;
    border-radius: 50%;
}

hero h2 {    
    margin: 0;
    color: #EBF2FA;
}

hero p {    
    color: #EBF2FA;    
}

.cta {
    padding: 10px;
    margin: 2px;
}

.btn-cta {
    background-color: #064789;
    color: #EBF2FA;
    padding: 8px 15px 10px 15px;
    text-decoration: none;
    border-radius: 8px;
}

#about {
    display: flex;
    gap: 5px;
    border: 1px solid #427AA1;
    margin: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-left {
    flex: 50;
    padding-left: 10px;
}

.about-right {
    flex: 50;
    padding-left: 15px;
}

.title {
    text-align: center;
}

#skills {
    display: flex;
    gap: 5;
    border: 1px solid #427AA1;
    margin: 30px;
}

.skills-left {
    flex: 50;
    padding-left: 15px;
    padding-bottom: 15px;
}

.skills-right {
    flex: 50;
    padding-left: 15px;
    padding-bottom: 15px;
}

#progress {
    background-color: #427AA1;
    color: #EBF2FA;
    text-align: center;
}

#progress > div {
    background-color: #064789;
    height: 20px;    
}

#css {
    background-color: ;
}
